requests==2.32.2
ruff==0.1.15
ntnx_vmm_py_client==4.0.1
ntnx_lifecycle_py_client==4.0.1
ntnx_prism_py_client==4.0.1
ntnx_clustermgmt_py_client==4.0.1
ntnx_aiops_py_client==4.0.1
ntnx_networking_py_client==4.0.1
ntnx_microseg_py_client==4.0.1
ntnx_iam_py_client==4.0.1
